/*
  HEADER
*/

#header{
  position:relative; z-index:9;
  width:100%; height:6rem;
  line-height:6rem;
  background:#FFF; border-bottom:1px solid #e3e3e3;
  transition:all 300ms ease-out;
}

#header .logo{
  margin:0 auto; padding-top:1rem;
  width:11.4rem; height:100%;
}

#header .logo a{
  display:block;
  width:100%; height:4rem;
  text-indent:-9999em;  
  background:url(images/logo.svg) 0 0 no-repeat;
  background-size:auto 4rem;
}

/*
  MAIN NAVIGATION
*/

#sitenav{
  position:fixed; z-index:10;
  top:6rem; left:0;
  width:85%; height:calc(100vh - 6rem);
  background:#FFF; border-right:1px solid #e3e3e3;
	transform: translate(-100%,0);
	transition:all 300ms;
	overflow-y:auto;
}

.menu_open #sitenav{
	transform: translate(0,0);	
}

#sitenav.noTransition,
.menu_open #sitenav.noTransition{
  transition:0ms;
}

#sitenav li{
  border-bottom:1px solid #e3e3e3;
}

#sitenav a{
  display:block;
  padding-left:1.7rem;
  font:1.6rem/4.5rem 'Museo-Sans-500'; color:#333f48; text-decoration:none;
  border-left:3px solid #FFF;
}

#sitenav a.current{
  color:#e4002b;
  border-left:3px solid #e4002b;
}

/*
  ACTIONS MENU
*/

#sitemenu .menu{
  position:absolute;
  top:.5rem; left:0;
  width:5rem; height:5rem;
}

#sitemenu .hamburger{
	position:absolute; 
	top:50%; left:1rem;
	margin-top:-1.2rem;  
}

#sitemenu .pubblica-annunci{
  display:none;
}

#sitemenu .mycasa{
  position:absolute;
  top:.5rem; right:0;
  width:5rem; height:5rem;
}

#sitemenu .avatar{
  position:absolute;
  top:50%; right:1rem;
  margin-top:-1rem;
}

@media screen and (min-width: 736px) { /* Tablet */

  /*
    HEADER
  */

  #header{
    position:fixed;
    top:0; left:0;
  }

  /*
    ACTIONS MENU
  */

  #sitemenu .hamburger{
    left:2rem;
  }

  #sitemenu .avatar{
    right:2rem;
  }  

}

@media screen and (min-width: 950px) { /* Desktop */

  /*
    HEADER
  */

  #header{
    position:static;
    width:100%; height:15.5rem;
    line-height:normal;
  }

  #header .sw{
    position:relative; z-index:9;
    padding-right:1rem; padding-left:1rem;
    background:#FFF;
    overflow:hidden;
  }  

  #header .logo{
    margin:0; padding:3.1rem 0 0;
    width:15.4rem; height:10.9rem;
  }

  .home #header .logo{
    margin:0 auto;
  }

  #header .logo a{
    width:100%; height:5.4rem;
    background-size:auto 5.4rem;
  }

  /*
    MAIN NAVIGATION
  */  

  #sitenav{
    position:static; float:left;
    top:auto; left:auto;
    width:auto; height:auto;
    background:#FFF; border-right:0 none;
    transform: translate(0,0);
  }

  #sitenav li{
    float:left;
    border-bottom:0 none;
  }

  #sitenav a{
    display:block;
    margin-right:.5rem; padding:0 1rem;
    font-size:1.4rem; line-height:4.2rem;
    border-bottom:2px solid #FFF; border-left:0 none;
  }

  #sitenav a.current,
  #sitenav a:hover{
    color:#333f48;
    border-bottom:3px solid #e4002b; border-left:0 none;
  }  

  /*
    ACTIONS MENU
  */

  #sitemenu{
    float:right;
  }

  #sitemenu li{
    float:left;
  }

  #sitemenu a{
    display:block;
    font:1.4rem/4.2rem 'Museo-Sans-500'; color:#333f48; text-decoration:none;
    border-bottom:2px solid #FFF; border-left:0 none;
  }

  #sitemenu a.current,
  #sitemenu a:hover{
    color:#e4002b;
  }  

  #sitemenu .menu{
    display:none;
  }

  #sitemenu .pubblica-annunci{
    display:block; position:relative;
    padding:0 1.5rem 0 0;
  }

  #sitemenu .pubblica-annunci:after{
    content:'|';
    position:absolute;
    right:0;
  }

  #sitemenu .pubblica-annunci:hover:after{
    color:#333f48;
  }

  #sitemenu .mycasa{
    position:static;
    top:auto; right:auto;
    padding:0 0 0 1.2rem;
    width:auto; height:auto;
  }

  #sitemenu .mycasa:after{
    content:'MyCasa';
  }

  #sitemenu .avatar{
    position:static; float:left;
    top:auto; right:auto;
    margin:1rem .7rem 0 0;
  }

  #sitemenu .mycasa:hover .avatar path{
    fill:#e4002b;
  }

  /*
    LEADERBOARD - FAKE
  */  

	#top-ad.leaderboard{
		position:absolute; z-index:11;
		top:1rem; right:1rem;
		width:72.8rem; height:9rem;
		background:#f1f1f1;    
	}

	.home #top-ad{
		display:none;
	}

  /*
    Adv skin needs some adjustements
  */

  .hasSkin #header{
    margin:0 auto; padding-top:1.5rem;
    width:96rem; height:17rem;
  }  

  .hasSkin #header .sw{
    padding-right:1rem; padding-left:1rem;    
  }

	.hasSkin #top-ad.leaderboard{
		right:1rem;
	}  

}

@media screen and (min-width: 1050px) { /* Desktop */

  #header .sw{
    padding-right:2.5rem; padding-left:2.5rem;    
  }

  #top-ad.leaderboard{
		right:2.5rem;
	}

}

@media screen and (min-width: 1300px) { /* Desktop */

  #header .sw{
    padding-right:0;    
  }

  /*
    LEADERBOARD - FAKE
  */    

	#top-ad.leaderboard{
		right:0;
	}

  .hasSkin #top-ad.leaderboard{
    right:2.5rem;
  }   
  
}