/*
  text dark grey: 333f48;
  text light grey: #6a7785;
  
  text footer grey: #9b9b9b;

  red: #e4002b;
  darker red: #a30000;

  border standard: #e3e3e3;
*/

.search{
  position:fixed; z-index:21;
  top:0; left:0;
  width:100vw; height:100%;
  background:#FFF;
  /* transform: translate(100%, 0); */
}

.search .qscontainer{
  position:relative;
  padding:.5rem;
  width:100%;
  background:#f1f1f1;
}

.search .qscontainer #qs{
  padding:1.1rem .5rem;
  width:calc(100% - 5rem); height:100%;
  font-size:1.3rem;
  background:#FFF; border:0 none; border-radius:3px;
  outline: none;
}

.search .searchsubmitCont{
  position:fixed;
  bottom:0; left:0;
  padding:1rem;
  width:100%;
  background:#FFF; border-top:1px solid #e3e3e3;
}

.search .close{
  display:inline-block;
  margin-left:.5rem;
  width:4rem;
  font-size:1.2rem; color:#e4002b; text-align:center;
}

.search #searchsubmit{
  display:block;
  width:100%;
  font-size:1.6rem; line-height:4.4rem; font-family:'Museo-Sans-700'; color:#FFF; text-transform:uppercase;
  background:#e4002b; border:0 none; border-radius:3px;
}

.suggestions{
  display:none;
  position:absolute;
  top:5rem; left:0;
  padding-bottom:7rem;
  width:100%; height:calc(100vh - 5rem);
  background:#FFF;
  overflow-y:auto;
}

.suggestions h3{
  font-size:0;
}

.search .suggestions a{
  display:block;
  padding:0 1rem;
  font:1.4rem/4.4rem 'Museo-Sans-300'; color:#333f48; text-decoration:none;
  border-bottom:1px solid #e3e3e3;
}


@media screen and (min-width: 736px) { /* Tablet */

  .search{
    position:static;
    top:auto; left:auto;
    width:auto; height:auto;
    transform: translate(0, 0);
  }

  .search form{
    display:block;
    width:100%; height:100%;
  }

  .search .qscontainer{
    float:left;
    width:calc(100% - 15rem); height:100%;
    border:1px solid #e1e1e1;
  }

  .search .qscontainer #qs{ 
    font-size:1.6rem; line-height:normal;
    background:transparent;
  }

  .search .close{
    display:none;
  }

  .search .suggestions{
    position:absolute; z-index:11;
    top:calc(100% + .1rem); left:-.1rem;
    padding-top:1rem; padding-bottom:0;
    width:calc(100% + .2rem); height:auto; max-height:29.5rem;
    background:#f1f1f1; border:1px solid #e1e1e1; border-top:0 none;    
  }

  .search .suggestions h3{
    margin:0 .5rem; padding:0 .5rem;
    font:1.2rem/2.8rem 'Museo-Sans-700'; color:#333f48; text-decoration:none; text-transform:uppercase;
  }

  .search .suggestions a{
    margin:0 .5rem; padding:0 .5rem;
    line-height:2.8;
    border:0 none;
  }

  .search .suggestions a:hover{
    color:#296dd3;
    background:#dfecf8; border-radius:.2rem;
  }

  .search .searchsubmitCont{
    display:inline; position:static;
    padding:0;
    background:transparent; border:0 none;
  }

  .search #searchsubmit{
    display:inline-block;
    width:15rem; height:100%;
    font-size:1.4rem; line-height:normal; font-family:'Museo-Sans-500';
    border:0 none; border-radius:0 1px 1px 0;
    transition: background .15s linear;
    cursor:pointer;
  }

  .search #searchsubmit:hover{
    background:#a30000;
  }

}