.star{	
	overflow: visible;
	pointer-events: none;
}

.star path{
  fill:#FFF;
	stroke:#333f48;
}

a:hover .star path{
  fill:#FFF;
	stroke:#e4002b;
}

a.present .star path{
  fill:#EEBE00;
	stroke:#EEBE00;
}

