/*
  text dark grey: 333f48;
  text light grey: #6a7785;
  
  text footer grey: #9b9b9b;

  red: #e4002b;
  darker red: #a30000;

  border standard: #e3e3e3;
*/

.checkbox{
  font:1.2rem/2.5rem 'Museo-Sans-300'; color:#6a7785; text-decoration:none;
}

.checkbox.disabled{
  opacity:.5;
  cursor:default;
}

.oddcouple .checkbox{
  margin-top:1.7rem;
  font-size:1.1rem;
}

.checkbox .check{
  float:left;
  margin:0 .5rem 0 0;
  width:2.5rem; height:2.5rem;
  border:1px solid #cad0d6; border-radius:3px;
  text-indent:-9999em;
}

.checkbox .check.checked{
  position:relative;
  background:#3B99FC; border-color:#3B99FC;
}

.checkbox .check.checked:after {
  content: "";
  position: absolute;
  right:.9rem;
  top:.4rem;
  width: 5px; height: 10px;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (min-width: 768px) { /* Tablet */

  .checkbox{
    line-height:3.7rem;
  }

  .checkbox .check{
    margin:1rem .5rem 0 0;
    width:1.5rem; height:1.5rem;
  }

  .checkbox .check.checked:after {
    right:.4rem;
    top:.1rem;
    width: 4px; height: 7px;
  }  

}